[access]
	inheritFrom = All-Projects
[submit]
[project]
	description = Gerrit support for BSL licensing awareness
[access "refs/*"]
	owner = group user/GerritForge Inc. (gerritforge-inc)
[access "refs/for/refs/*"]
	label-Code-Review = -2..+2 group user/GerritForge Inc. (gerritforge-inc)
	label-Verified = -1..+1 group user/GerritForge Inc. (gerritforge-inc)
	push = group user/GerritForge Inc. (gerritforge-inc)
	read = group user/GerritForge Inc. (gerritforge-inc)
	rebase = group user/GerritForge Inc. (gerritforge-inc)
	removeReviewer = group user/GerritForge Inc. (gerritforge-inc)
	submit = group user/GerritForge Inc. (gerritforge-inc)
[access "refs/heads/*"]
	create = group user/GerritForge Inc. (gerritforge-inc)
	push = +force group user/GerritForge Inc. (gerritforge-inc)
	pushMerge = group user/GerritForge Inc. (gerritforge-inc)
	read = group user/GerritForge Inc. (gerritforge-inc)
[access "refs/tags/*"]
	push = group user/GerritForge Inc. (gerritforge-inc)
	push = +force group user/GerritForge Inc. (gerritforge-inc)
